.link {
    border: 2px solid rgb(53,135,243);
    letter-spacing: 0.05rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.link:hover {
    color: #fff;
    border-color: white;
    background-color: rgb(53,135,243);
    cursor: pointer;
}