/* GLOBAL STYLES */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  color: #000;
  /* background-color: #e2e7fa; */
  background-color: white;
}

#root {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(53,135,243);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53,135,243);
}

